<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/head') %>
</head>

<body>
    <header>
        <%-include('../partials/header') %>
    </header>

    <main>
        <section>
            <h1>PROPIEDADES EN ALQUILER</h1>
            <article>
                <% data.forEach((prod)=>{%>
                    <div class="cardAlquiler">
                        <img src="<%= prod.imagen%>" alt="<%= prod.propiedad %>" class="queryUno">
                        <p>
                            <%= prod.descripcion %>
                        </p>
                        <p>
                            <%= prod.precio %>
                        </p>
                        <button class="botonVerMas"><a href="" id="botonVerMas">Ver más</a></button>
                    </div>
                <% }) %>
            </article>
        </section>
    </main>

    <footer>
        <%-include('../partials/footer') %>
    </footer>

</body>

</html>